.navbar {
  background-color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.right {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  display: inline;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #566474;
  margin-right: 60px;
}
